<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medizhn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediZHN">
        <activity
            android:name=".Set_Remainder"
            android:exported="false"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".Set_Calendar"
            android:exported="false"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".Set_Medicine"
            android:exported="false"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".Set_Referral"
            android:exported="false"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".CalendarSet"
            android:exported="false"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".PillRemainder"
            android:exported="false"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".Medicines"
            android:exported="false"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".Referrals"
            android:exported="false"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".Homepage"
            android:exported="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>